
header {
    height: 8vh;
    margin: 1rem;
    border-radius: 8px;
}

header .row {
    height: 100%;
    margin: 0.5rem;
}

header .row .col {
    background-color: rgba(211, 211, 211, 0.34);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
}

header .row .col:hover {
    transform: scale(1.10);
    transition: transform 0.8s ease;
    cursor: pointer;
}
